.DS_Store
ai
documents/afacad
documents/instagram
fonts/afacad 1100
fonts/afacad 1200
fonts/afacad 2000
fonts backup
indd
psd
source backup
source/afm
source/afm backup
source/bitmap
source/glyphs 1100 (thin)
source/glyphs 1200 (black)
source/glyphs 2000 (backslanted)