.DS_Store
ai
documents/afacad
documents/instagram
fonts/afacad 1.100
fonts/afacad 1.200
fonts/afacad 2.000
fonts backup
indd
psd
source backup
source/afm
source/afm backup
source/bitmap
source/fontlab
source/glyphs 1.100 (thin)
source/glyphs 1.200 (black)
source/glyphs 2.000 (backslanted)






